<h2>My Heroes</h2>
<button mat-fab aria-label="Example icon-button with a heart icon">
  <mat-icon>favorite</mat-icon>
</button>
<div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
</div>
<mat-grid-list cols="2" rowHeight="1:1">
  <h3 style="position: relative; float: left;">All heroes</h3>
  <mat-grid-tile>
    <ul class="heroes">
      <li *ngFor="let hero of heroes" style="position: relative; float: left;">
          <a routerLink="/detail/{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
          </a>
          <button mat-fab [ngClass]="(hero.favorite) ? 'fav' : 'non-fav'" (click)="setFavorite(hero)">
            <mat-icon _ngcontent-pyd-c134="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" [ngClass]="(hero.favorite) ? 'fav' : 'non-fav'" aria-hidden="true" data-mat-icon-type="font">favorite</mat-icon>
          </button>
          <button class="delete toh" title="delete hero"
          (click)="startDelete(hero)">x</button>        
      </li>
    </ul> 
  </mat-grid-tile>
  <mat-grid-tile>
    <h3>Favorites</h3>
    <ul class="heroes">
      <li *ngFor="let hero of heroes | heroesFilter:favorite">
          <a routerLink="/detail/{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}} 
          </a>
          <button class="delete" title="delete hero"
          (click)="startDelete(hero)">x</button>        
      </li>
    </ul>
  </mat-grid-tile>
</mat-grid-list>




<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->